# Gradle
.gradle/
build/
/*/build/

# IntelliJ/Android Studio
.idea/
*.iml
*.iws
*.ipr
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/
.idea/dictionaries/
.idea/caches/
.idea/assetWizardSettings.xml

# Local configuration
local.properties

# Keystores e Segredos (MUITO IMPORTANTE)
*.jks
*.keystore
*.p12
google-services.json

# Logs e arquivos temporários
*.log
*.hprof
*.bak
*.swp
captures/

# Testes e Lint
/lint-results/
/test-results/

# OS específicos
.DS_Store
Thumbs.db
