gitignore
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Logs e arquivos de erro
*.log
*.hprof
*.bak
*.swp
/captures/
/lint-results/
/test-results/

# Arquivos temporários do Android Studio / IntelliJ
.idea/shelf/
.idea/caches/
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Backup do sistema
Thumbs.db